@charset "UTF-8";

header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    text-align: center;
    font-weight: bolder;
    padding: 15px;
    color: rgba(255, 255, 255, 0.966);
}

body{
    background-color: rgb(250, 193, 125);
}